{% extends "base.html" %} {% block content %} {% load static %}

<div class="container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner h-auto">
      <div class="carousel-item active">
        <section class="back13">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="text-center text-lg-start ps-lg-5">
                  <p class="is-overline">AN EXCLUSIVE OFFER FOR YOU</p>
                  <h1 class="display-2 fw-bold">
                    <span class="fw-bold">$25 Off</span>
                  </h1>
                  <p class="mt-4 fs-5">
                    Get $25 off your next $75+ visit when you check out using
                    inKind!
                  </p>
                  <div class="mt-4 d-flex justify-content-center">
                    <a href="/first_app/" class="btn btn-outline-danger"
                      >Go to Meal</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <img
                  src="{% static 'cover.webp' %}"
                  alt=""
                  class="img-fluid"
                  style="height: 540px"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="back14">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="text-center text-lg-start ps-lg-5">
                  <p class="is-overline">AN EXCLUSIVE OFFER FOR YOU</p>
                  <h1 class="display-2 fw-bold">Catering and Events</h1>
                  <p class="mt-4 fs-5">
                    We have an unwavering dedication to matching the experiences
                    you receive in our restaurants against the backdrop of your
                    choice. Inquire about catering with ESR today!
                  </p>
                  <div class="mt-4 d-flex justify-content-center">
                    <a href="/first_app/" class="btn btn-outline-danger"
                      >Go to Meal</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <img
                  src="{% static 'cover1.webp' %}"
                  alt=""
                  class="img-fluid"
                  style="height: 540px"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="back15">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="text-center text-lg-start ps-lg-5">
                  <p class="is-overline">AN EXCLUSIVE OFFER FOR YOU</p>
                  <h1 class="display-2 fw-bold">ESR Newsletter</h1>
                  <p class="mt-4 fs-5">
                    Stay in the know with the ESR Newsletter, or unlock
                    exclusive perks by joining the
                  </p>
                  <div class="mt-4 d-flex justify-content-center">
                    <a href="/first_app/" class="btn btn-outline-danger"
                      >Go to Meal</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <img
                  src="{% static 'cover2.webp' %}"
                  alt=""
                  class="img-fluid"
                  style="height: 540px"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
