body{
    /* width: 1200px; */
    margin: auto;
    background-color: ghostwhite;
}
li{
    list-style: none;
    
}
nav{
    background-color: aqua;
}
.menu{
    font-size: 20px;
}
.menu:hover{
    color: white;
    cursor: pointer;
}
.banar-container{
    width: 1200px;
    margin: auto;
    padding: 30px;
}
.banar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(cyan, rgb(26, 139, 139)) ;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    height: 450px;
}
.bn-img{
    width: 322px;
    margin-top: -50px;
}
.service-container{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.title{
    font-size: 40px;
    color: aqua;
    text-align: center;
}
.doctor-container{
    margin-top: 50px;
    padding: 30px;
}
.doc-card{
    width: 300px;
    height: 360px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}
.doc-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#search{
    padding: 10px;
    border: none;
    width: 75%;
    border-radius: 5px;
    padding: 10px 20px;
}
footer{
    padding: 50px;
    background: linear-gradient(66deg, #1CA8C7 -5.25%, #439FA5 46.76%, #4C7D8C 98.77%);
}
.nodata{
    display: none;
}