<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH TUBE</title>
    <link rel="shortcut icon" href="/Image/Logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.4/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>This is home page</h>
    <!-- header section start  -->
    <header class="container mx-auto border-b-2 border-heroGray items-center w-[92%] flex py-5 justify-between text-white">
      <div class="flex items-center">
        <img class="w-full h-[32px] sm:h-full object-contain" src="/Image/Logo.png" alt="logo image"/>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Highest to Lowest" id="sort-container" >
        <button onclick="handleSort()" id="sort-by" class="navbar-center text-neutral-500 bg-heroGray sm:px-5 px-2 py-2 rounded-md text-xs sm:text-base font-medium">Sort by view</button>
      </div>

      <ul class="menu menu-horizontal text-sm xl:px-1 xl:text-lg font-medium">
        <li class="divide-y divide-dashed bg-heroPrimary rounded-md">
          <a class='text-xs sm:text-base px-2 sm:px-5 font-medium' href='/blog'>BLOG</a>
        </li>
      </ul>
    </header>
    <!-- header section end -->
    <!-- main section start -->
    <main class="container mx-auto w-[92%] my-4 md:my-6 lg:w-full text-neutral-950">
        <!-- Product section -->
        <section>
          <ul id="catigory" class="menu menu-horizontal text-white flex gap-1 sm:gap-5 justify-center items-center xl:px-1 text-sm font-medium">
  
          </ul>
        </section>
        <section class="mt-6 md:mt-8">
          <!-- <div id="empty"></div>
          <div id="spinner" class="my-48 w-56 mx-auto">
            <progress class="progress w-56 mx-auto"></progress>
          </div> -->
          <div
            id="video-container"
            class="cursor-pointer grid lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-3 grid-cols-1 gap-5 mt-12"
          ></div>
        </section>
      </main>
    <!-- main section end -->
    <!-- javascript  --> 
</body>
</html>