<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH TUBE</title>
</head>
<body>
    <h1>This is home page</h>
    <h2>Author: {{author}}</h2>
    <h2>Age: {{age}}</h2>
    <h2> {{lst}}</h2>
    <h2>{{ lst | join:" - " }} </h2>

    <!-- conditional Statement -->
    {% if age >= 20 %}
        <h4>you will get driving license.</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4>you will not get driving license.</h4>
    {% else %}
        <h4>you are a child.</h4>
    {% endif %}

    {% comment %} for loop  {% endcomment %}
    <h3>Id Name Fee</h3>
    {% for i in courses %}
        <h3>{{i.id}}. {{i.name}} {{i.fee}}</h3>
    {% endfor %}
</body>
</html>