{% extends "base.html" %} {% block content %} {% load static %}
<div>
  <h1>Profle Form page</h1>
  <a class="btn btn-warning btn-sm mt-4 mb-4" href="{% url 'edit_profile' %}"
    >Edit Your Profile</a
  >
  <a class="btn btn-warning btn-sm mt-4 mb-4" href="{% url 'passcharnge' %}"
    >Change Your Password</a
  >
</div>
<div class="row">
  {% for i in data %}
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
      <img src="{{i.image.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <a class="card-title text-decoration-none">{{i.title}}</a>
        </h5>
        <p>Price: {{i.price}} $</p>
        <p>Categiry: {{i.brand}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
