{% extends "base.html" %} {% block content %} {% load static %} {% load crispy_forms_tags %}
<form method="POST" enctype="multipart/form-data">
    <h1>Registration Form page</h1>
    {% csrf_token %}
    <!--{{form | crispy}}-->
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="text-danger">{{er}}</p>

    {% endfor %}
    {% endif %}
    {% for fm in form%}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors | striptags}}
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-warning text-white">Submit</button>
</form>
{% endblock %}