{% extends "base.html" %} {% block content %} {% load static %}

<h1>This is home page</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for album in data %}
    <tr>
      <th scope="row">{{ album.id }}</th>
      <td>{{ musician.first_name }} {{musician.last_name }}</td>
      <td>{{ album.musician.first.email }}</td>
      <td>{{ album.rating }}</td>
      <td>{{ album.musician.first.instrument_type}}</td>
      <td>{{ album.album_name }}</td>
      <td>{{ album.album_release_date }}</td>
      <td>
        <a href="" class="btn btn-danger">Delete</a>
        <a href="" class="btn btn-warning">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
