{% extends "base.html" %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    {% comment %} <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name='username'>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name='email'>
    </div> {% endcomment %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock  %}