{% extends "base.html" %} {% block content %}
<div class="col">
  <div class="card">
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{ post.content }}</p>
      <p>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
      <p> Categories:
        {% for c in post.category.all %}
        <small class="btn btn-primary btn-sm text-white m-2">{{ c.name }}</small>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
