{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="col">
  <div class="card">
    <img src="{{ post.image.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{ post.content }}</p>
      <p>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
      <p>
        Categories: {% for c in post.category.all %}
        <small class="btn btn-primary btn-sm text-white m-2"
          >{{ c.name }}</small
        >
        {% endfor %}
      </p>
    </div>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Total Comment: {{ comments | length }}</h5>
  <div class="card-body">
    {% for c in comments %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <h5 class="mt-0">{{ c.name }}</h5>
            <p>{{ c.body }}</p>
            <p>{{ c.created_on }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="mb-4">Add Comment</h1>
      {% csrf_token %} {{ comment_form | crispy }}
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
